/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET <a> STYLE */

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 15px;
    padding: 10px 0
}