*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 80%;
    margin: auto;
    padding: 100px;
   /*  background-color: aquamarine; */
   text-align: center;
}

.circle-around{
    width: 350px;
    height: 350px;
    background-color: chartreuse;
    border-radius: 50%;
    line-height: 350px;
    text-align: center;
    display: inline-block;
    border:1px solid black;
}

.circle{
    width: 250px;
    height: 250px;
    background-color: burlywood;
    border-radius: 50%;
    line-height: 250px;
    text-align: center;
    display: inline-block;
    border:3px solid red;
}
