/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    /* test */
    background-color: aqua;
    color: white;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

/* MAIN */

main {
    height: calc( 100% - 100px);
    width: 100%;
    /* test */
    background-color: brown;
}

/* nav */

nav {
    float: left;
    width: 200px;
    height: 100%;
    overflow: hidden;
    /* test */
    background-color: teal;
}

/* main-right */

.main-right {
    float: left;
    width: calc( 100% - 200px);
    height: 100%;
    overflow-y: auto;
    /* test */
    background-color: white;
    color: black;
}

.logo {
    height: 70px;
    /* test */
    background-color: red;
}

.main-links {
    height: 100px;
    /* test */
    background-color: tomato;
}

.playlist-container {
    height: calc( 100% - 240px);
    /* altezza totale meno la somma degli altri elementi interni a NAV */
    min-height: 100px;
    /* in questo modo viene coperta interamente tutta la playlist */
    overflow: hidden;
    /* test */
    background-color: violet;
}

.playlist {
    height: 100%;
    overflow-y: auto;
    /* in questo modo mi blocca solamente la playlist e non tutto il resto del playlist-container */
    /* test */
    background-color: black;
}

.install {
    height: 70px;
    /* test */
    background-color: wheat;
    color: black;
}

/* FOOTER */

footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    /* test */
    background-color: blueviolet;
}