* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px 0;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.slider-container {
    padding: 0 5%;
    position: relative;
    /* Test */
    background-color: aquamarine;
}

.arrow {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left{
    left: 0;
}

.arrow-right{
    right: 0;
}
